<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>tranzzo</name>
    <displayName><![CDATA[tranzzo 1.0]]></displayName>
    <version><![CDATA[1.0]]></version>
    <description><![CDATA[Accepting payments by credit card quickly and safely with tranzzo]]></description>
    <author><![CDATA[TRANZZO]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete all the settings?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>